extends layout.pug

block content
  script. 
    function deletefunc() {
      fetch("/notes/" + '#{note._id}', {method: 'delete'}).then(window.location.href="/")
    }
  .card(style='width:75%; height:100%; margin: 0 auto;')
    .card-body
      .alert.alert-warning
        h7 If you are on mobile, you can hold the image down and open it in a new tab
      h7.text-primary(id="view_count") Views: #{note.views.length}
      br
      br
      if(user)
        if(user.admin || note.creator.id == user.id)
          h7.glyphicon.glyphicon-trash(onclick="deletefunc()" style="bottom-padding: 20px; color: red; cursor: pointer;") Delete Note
      h4.card-title.text-primary 
        b #{note.name}
      if(note.creator.showname)
        if(note.creator.type == "snap")
          p.card-text Uploaded By: #{note.creator.name}  
        else
          p.card-text Uploaded By: #{note.creator.username}
      input(value="https://note-share.yaznic.me/notes/" + note.id id="share-link" onclick="copy()" disabled)
      h2 You can copy paste the link above to share this note
      script.
        var copyText = document.getElementById("share-link");
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
        document.execCommand("copy");
    a(href="data:" + note.image.mime + ";base64," + note.image.buf)
      img.card-img-bottom(src="data:" + note.image.mime + ";base64," + note.image.buf alt='Card image')
